doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Curtis Pike
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/Me copy.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Interests

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Curtis
                        span.text-primary Pike
                    .subheading.mb-5
                        | 10222 Camarillo Street · Tolucalake, CA 91602 · (123) 585-8468
                        a(href='mailto:mailto:cpike46@gmail.com') cpike46@gmail.com
                    p.lead.mb-5
                        |  Hey there! Thank you for coming to my webpage! My name is Curtis and I am web developer and I also work for a start up company called Dubsado as a customer support specialist. Full stack software Devloper with a certifcate from the UCLA full stack web developer extension course.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/curtis-pike-a818bb197/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/Cpike95')
                            i.fab.fa-github
                        a.social-icon(href='#')
                            i.fab.fa-twitter
                        a.social-icon(href='#')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Internship
                            .subheading.mb-3 Tuition IO
                            p
                                | HTML, CSS, design and layout as well as basic Javascript functionality on a back end application for there customer rep team.
                        .flex-shrink-0
                            span.text-primary May 2020 

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Internship
                            .subheading.mb-3 Dubsado
                            p
                                | Back end development for registering, logging users for a scheduler application.
                        .flex-shrink-0
                            span.text-primary June 2020

            hr.m-0

            //Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects
                
                .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    ul.list-inline
                        li.list-inline-item
                            img.img-fluid.mx-auto.mb-2(src='./assets/img/quizzy.jpg', style="height: 150px; width: 150px;")
                        li.list-inline-item
                            img.img-fluid.mx-auto.mb-2(src="./assets/img/calendar.jpg" style="height: 150px; width: 150px;")
                        li.list-inline-item
                            img.img-fluid.mx-auto.mb-2(src="./assets/img/calendar.jpg" style="height: 150px; width: 150px;")
                        li.list-inline-item
                            img.img-fluid.mx-auto.mb-2(src="./assets/img/calendar.jpg" style="height: 150px; width: 150px;")

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 UCLA full stack Web Developer extension bootcamp
                            .subheading.mb-3 Bootcamp
                            div Computer Science - Full stack Web Development Track
                            p 
                        .flex-shrink-0
                            span.text-primary March 2020 - August 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 John H. Francis Polytechnic High School
                            .subheading.mb-3 Technology Magnet Program
                            p GPA: 3.8
                        .flex-shrink-0
                            span.text-primary August 2010 - June 2013

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a web developer, I enjoy most of my time being outdoors, working out, skateboarding, biking, playing video games and reading. In the winter, I am an avid skier and novice ice skater.
                    p.mb-0
                        | Some hobbies of mine include competing in amateur bodybuilding competions, skateboarding, playing basketball, playing video games, as well as solving puzzles and riddles.
            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | UCLA Full Extension Full Stack Web Developer Bootcamp.
                        

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')